body {
    font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #2a2a2a;
    padding: 20px;
  }
  
  .magic-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }
  
  .magic-btn > .icon {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
  }
  
  .site-nav__link {
    color: currentColor;
    text-decoration: none;
  }
  
  .site-nav__link:hover {
    text-decoration: underline;
  }
  
  .site-nav__link--current {
    color: tomato;
  }

  .blue {
    color: blue;
  }

  .red {
    color: red;
  }
  
  .color-picker__option {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 4px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .transaction-table {
    border-collapse: collapse;
  }
  
  .transaction-table th,
  .transaction-table td {
    padding: 8px;
    border: 1px solid #2a2a2a;
  }
  
  .title__link {
    display: inline-flex;
    margin-left: 40px;
  }
  
.list {
  list-style-type: none;
  padding-inline-start: 16px;
}

  .li-item {
    width: 250px;
    border-style: none;
    border-radius: 4px;
    padding-left: 3px;
    margin-bottom: 3px;
    transition: 
    transform .2s .05s,
    box-shadow .1s .05s;
  }

  .li-item:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px grey;
    background-color: rgb(237, 237, 237);
  }

    .item-link {
      display: block;
      text-decoration: none;
    }

  .modal {
    background-color: #d7d7d7;
  }

  .burger {
    border-radius: 5px;
    rotate: 90deg;
    width: 30px;
    height: 30px;
  }

    .feedback-form {
  
      position: relative;
      width: 408px;
      height: 296px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 24px;
    }
  
    .feedback-form label {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: #2e2f42;
      margin-bottom: 8px;
    }
  
    .feedback-form input {
      box-sizing: border-box;
      border: 1px solid rgb(128, 128, 128);
      border-radius: 4px;
      width: 360px;
      height: 40px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: #2e2f42;
      outline: none;
      padding-right: 16px;
      padding-left: 16px;
    }
  
    .feedback-form input:hover,
    .feedback-form textarea:hover {
      border: 1px solid rgb(0, 0, 0);
    }
  
    .feedback-form input:active,
    .feedback-form textarea:active {
      border: 1px solid rgb(128, 128, 128);
    }
  
    .feedback-form textarea {
      width: 360px;
      height: 80px;
      box-sizing: border-box;
      border: 1px solid rgb(128, 128, 128);
      border-radius: 4px;
  
      font-family: inherit;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.04em;
      color: #2e2f42;
      outline: none;
      resize: none;
      padding-top: 8px;
      padding-right: 16px;
      padding-left: 16px;
    }
  
    .feedback-form button {
      width: 95px;
      height: 40px;
      background-color: #4e75ff;
      border-radius: 8px;
      border: none;
      color: rgb(255, 255, 255);
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      margin-top: 8px;
  
    }
  
    .feedback-form button:hover,
    .feedback-form button:focus {
      background-color: rgb(108, 140, 255);
  
    }

    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      margin: 0 auto;
      width: 1200px;
    }

    .sidebar {
      width: 300px;
      height: 720px;
      background-color: #e5e6eb;
      margin-right: 8px;
      border-radius: 8px;
    }

    .main-content {
      background-color: #e5e6eb;
      border-radius: 8px;
      width: 1024px;
    }

    .page-object {
      width: 100%;
      height: 95%;
    }